<div class="container formContainer">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm" ngNativeValidate>
          <div class="form-group">
            <label for="name">Name</label>
            <input 
            type="text" 
            id="name" 
            class="form-control" 
            ngModel 
            name="name"
            required
            maxlength=30
            #name="ngModel">
            <span class="help-block" *ngIf="name?.errors?.required && (name.dirty || name.touched)" >Name is required</span>
            <span class="help-block" *ngIf="name?.errors?.maxlength">Maximum of 30 characters</span>
          </div>

          <div class="form-group">
            <label for="email">E-mail</label>
            <input 
            type="email"
            id="email"
            class="form-control" 
            ngModel
            name="email"
            required
            email  
            maxLength="30"
            #email="ngModel">
            <span class="help-block" *ngIf="!email.valid && (email.dirty || email.touched)">Please enter a valid e-mail</span>
          </div>

          <div class="form-group">
            <label for="address">Address</label>
            <input 
            type="text" 
            id="address"
            class="form-control"
            ngModel
            name="address"
            required
            maxLength="30"
            #address="ngModel">
            <span class="help-block" *ngIf="address?.errors?.required && (address.dirty || address.touched)" >Address is required</span>
            <span class="help-block" *ngIf="address?.errors?.maxlength">Maximum of 30 characters</span>
          </div>

          <button 
          class="btn btn-primary" 
          type="submit"
          [disabled]="!f.valid"
          >Submit</button>
      </form>
    </div>
    <div class="json col-xs-12 col-md-6">
      <pre>{{formArray}}</pre>
    </div>
  </div>
</div>

  
